name: SonarQube Cloud Scan

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # recommended for better reporting

      # OPTIONAL: build/test first (language-specific)
      # - uses: actions/setup-node@v4
      #   with:
      #     node-version: 20
      # - run: npm ci && npm test

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -X
            -Dsonar.organization=abdrrahimdahmani
            -Dsonar.projectKey=AbdrrahimDahmani_projet-devsecops
            -Dsonar.qualitygate.wait=true
            -Dsonar.qualitygate.timeout=300
