name: SonarQube Cloud Scan

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # recommended for better reporting

      # Set up Java and build the Maven projects
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build Java services with Maven
        run: |
          mvn -f api-gateway/pom.xml compile -DskipTests
          mvn -f order-service/pom.xml compile -DskipTests
          mvn -f product-service/pom.xml compile -DskipTests

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -X
            -Dsonar.organization=abdrrahimdahmani
            -Dsonar.projectKey=AbdrrahimDahmani_projet-devsecops
            -Dsonar.qualitygate.wait=true
            -Dsonar.qualitygate.timeout=300
